.Light-yellow {
    --bg-color: #E8B94A;
    --bg-color-light: #EBD494;
    --text-color-hover: #4c5656;
    /* --box-shadow-color: rgba(255, 215, 97, 0.48); */
  }
  .soft-violet {
    --bg-color: #ceb2fc;
    --bg-color-light: #f0e7ff;
    /* --text-color-hover: #fff; */
    --text-color-hover: #4c5656;
    /* --box-shadow-color: rgba(206, 178, 252, 0.48); */
  }
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
}
.card{
    width: 220px;
    height: 220px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition: all 0.3s ease-out;
    text-decoration: none;
    /* opacity: 0.4; */
    background-color: transparent;
    box-shadow: 0px 0px 0px #f6f6f8, 0px 0px 0px #f6f6f8;
}
.card:hover {
    opacity: 1;
    /* box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(255, 255, 255, 0.8); */
    /* margin-bottom: 30px; */
    border-radius: 20px;
    /* box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.5), inset 8px 8px 16px rgba(255, 255, 255, 0.1); */
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 0px 46px rgba(0, 0, 0, 0.04);
    background-color: #E8E8ED;
    transform: translateY(-5px) scale(1.05) translateZ(0);
}
.card:hover p{
    display: flex;
    color: var(--text-color-hover);
}
.card:hover .overlay {
    transform: scale(4) translateZ(0);
}
.card:hover .circle {
    filter: none;
    border-color: var(--bg-color-light);
    background: var(--bg-color);
  }
  
  .card:hover .circle:after {
    border-color: var(--bg-color-light);
    background: var(--bg-color-light);
  }
  
  .card:hover p {
    color: var(--text-color-hover);
  }
  
  .card:active {
    /* background-color: #f0e7ff; */
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
      0 15px 24px var(--box-shadow-color);
  }
  
  .card p {
    font-size: 20px;
    text-align: center;
    color: #4c5656;
    margin-top: 20px;
    z-index: 1000;
    transition: color 0.3s ease-out;
  }
  .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* background: #fff; */
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    top: 12px;
    transition: all 0.3s ease-out;
    /* filter: grayscale(100%); */
  }
  .circle:after {
    content: "";
    width: 136px;
    height: 136px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 5px;
    left: 5px;
    transition: opacity 0.3s ease-out;
    filter: none;
  }
  
  .circle:before {
    content: "";
    width: 118px;
    height: auto;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 5px;
    left: 5px;
    transition: opacity 0.3s ease-out;
    filter: none;
  }
  
  .circle svg {
    z-index: 10000;
    transform: translateZ(0);
  
  }
  .circle img {
      position: relative;
      z-index: 10000;
      transform: translateZ(0);
      
    }
     
  .overlay {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 26px;
    transition: all 0.3s ease-out;
  }
  #cardblock{
    display: none;
  }
  @media (max-width:1025) {
    .content{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      /* align-items: flex-start; */
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  @media (max-width:765px) {
    .content{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;
    }
    .col-sm{
      display: flex;
      justify-content: center;
    }

  }
  @media (max-width:850px) {
    .content{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;
    }
    .col-sm{
      display: flex;
      justify-content: center;
    }

  }

  .cookie{
    margin: auto;
    width: fit-content;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    
  }
  .dcookie{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .w-fit{
    width: fit-content;
    max-width: 100%;
  }
  
  @media (max-width:769px) {
    .dcookie{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    
  }