#chart{
  width: 100%;
height: 450px;
}
.mobile-nav-toggle i {
  color: #34b7a7;
  margin-top: -15%;
  display: flex;
}
.kanit{
  font-family: "Kanit",sans-serif !important;
  font-size: 14px !important; 
}
.kanit-16{
  font-family: "Kanit",sans-serif !important;
  font-size: 16px !important; 
}
.kanit-b20{
  font-family: "Kanit",sans-serif !important;
  font-size: 20px !important; 
  font-weight: bold;
}
/*Legend specific*/
.legend {
  /* margin-bottom: 12px; */
    padding: 6px 8px;
    font: 13px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.9);
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
    border-radius: 5px;
    line-height: 24px;
    color: #555;
  }
  .legend h4 {
    text-align: center;
    font-size: 14px;
    margin: 2px 12px 8px;
    /* color: #777; */
  }
  
  .legend span {
    position: relative;
    bottom: 3px;
    font-family: "Kanit",sans-serif !important;
  }
  
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
  }
  
  .legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
  }
/* @media (max-width:765px) {
    #header {
    background-color: cadetblue;
}
} */
.cookie{
  margin: auto;
  width: fit-content;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  
}
.dcookie{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.w-fit{
  width: fit-content;
  max-width: 100%;
}

@media (max-width:769px) {
  .dcookie{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
}
.card-dash{
  width: 100%;
  height: fit-content;
  background-color: #ffff;
  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
  border-radius: 15px;
  margin-bottom: 10px;
}