.wqchart{
    height: 250px;
}

.m{
    margin: 2px 2px 2px 2px;
}

.f12{
  font-size: 12px;
}

.kanit{
  font-family: "Kanit",sans-serif !important;
  font-size: 13px !important; 
}

#map{
    height: 440px;
    border-radius: 0.8rem;
}

.layer{
  height: fit-content;
}

.legend{
  height: 440px;
}

.scroll-legend{
  height:380px;
  overflow-y: scroll;
}


.hselect{
  height: 100px;
}

.hchart{
  height: 300px;
}

.scroll{
  height:400px;
  overflow-y: scroll;
}

.scroll-base{
  height:120px;
  overflow-y: scroll;
}

.scroll-label{
  height:120px;
  overflow-y: scroll;
}

.btn-margin{
    margin: 2px;
}

.chart {
    width: 100%;
    height: 400px;
}

.chart2 {
    width: 100%;
    height: 500px;
}

.mt-20{
    margin-top: 20px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
.content-stat{
  display: flex; flex-direction: row; justify-content: stretch;
}
 .card-stat{
  height: max-content;width: 100%; background-color: #f6f6f8;
 }
 .b-stat {justify-content: space-around; flex-direction: column; display: flex; align-items: center;}
 @media (max-width: 1365px) {
  .b-stat {justify-content: space-around; flex-direction: column; display: flex; align-items: center;}
 }

 .cookie{
  margin: auto;
  width: fit-content;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  
}
.dcookie{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.w-fit{
  width: fit-content;
  max-width: 100%;
}

@media (max-width:769px) {
  .dcookie{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
}